@(guitars: List[storeItem])

@main{

    <div class="container" align="center" style="padding-top: 5%">
        <div id="products" class="row list-group">

        @for(guitars <- guitars){
            @if(guitars.kind.equalsIgnoreCase("amp")){
                <div class="item  col-xs-4 col-lg-4">
                    <div class="thumbnail">
                        <img class="group list-group-image" style="width:200px"  src=@routes.Assets.at(s"images/guitars/${guitars.image}") alt=@{guitars.nameShort}>
                        <div class="caption">
                            <h3 class="group inner list-group-item-heading">@guitars.model</h3>
                            <h4 class="group inner list-group-item-heading">@guitars.make</h4>
                            <p class="lead">£@guitars.price</p>
                            <a align="center" class="btn btn-info" style="width:50%; margin: auto;" href="@routes.Application.productPage(s"${guitars.kind}", s"${guitars.id}", s"${guitars.nameShort}")">Description</a>
                        </div>
                    </div>
                </div>
            }
        }
        </div>
    </div>

}