@(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Andy's</title>

        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/style.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </head>
    <body>
        @*HEADER*@
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.Application.index">Andy's</a>
                </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="@routes.Application.guitarsPage()">Guitars</a></li>
                        <li><a href="@routes.Application.ampsPage()">Amps</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a  href="@routes.Application.basket(null)">Basket</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="https://www.andertons.co.uk">A Real Music Store</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="glyphicon glyphicon-search"></button>
                    </form>

                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        @**@
        @content
        @**@
        @*FOOTER*@
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container">
                <div class="col-md-6 col-md-offset-3">
                    <div class="text-center">
                        <a style="color: black" href="https://www.instagram.com/abunaiphotography/"><span class ="glyphicon glyphicon-camera" aria-hidden="true"></span> Instagram</a>
                        <a style="color: black" href="https://www.linkedin.com/in/andrew-mooney-692235143/"><span class ="glyphicon glyphicon-education" aria-hidden="true"></span> Linkedin</a>
                    </div>
                    <div class="footer-text">
                        <a target="_blank" href="https://www.andertons.co.uk/" title="Guitars, Amps and Gear!">Andy's Music Store</a>
                        <br>&copy; 2018 All Rights Reserved.
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </body>
</html>
