@(guitarType: String, guitarID: String, guitarName: String, guitars: List[storeItem])

@main {

@for(guitars<-guitars){
    @if(guitars.id==guitarID){
    <div class="container">
        <div class="row" style="padding-top: 6%; padding-bottom: 10%">
            <div class="col-sm-5"><img src=@routes.Assets.at(s"images/guitars/${guitars.image}") alt=@{guitars.nameShort} style="width:320px;"></div>
            <div class="col-sm-7"  align="center">
                <h1>@guitars.make<h2>@guitars.model<h4>@guitars.info</h4></h2></h1>
                <div><h2>£@guitars.price</h2>
                <a align="center" class="btn btn-success" style="width:20%; margin: auto;" href="">ADD TO CART</a>
                </div>
            </div>
        </div>
    </div>


    }
}
}